<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="be">

<title th:fragment="title">Booker - браніраванне гатэляў</title>

<th:block th:fragment="content">
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Booker - пошук гатэляў у Беларусі
        </div>
        <div class="card-body container">
            <form action="/results" method="get" id="searchForm" th:object="${searchForm}">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="form-floating mb-md-0">
                            <select class="form-select" id="selectCity" required th:field="*{city}">
                                <option th:each="cityEntity : ${citiesList}" th:value="${cityEntity.id}"
                                        th:text="${cityEntity.name}" th:disabled="${cityEntity.disabled}"/>
                            </select>
                            <label for="selectCity">Горад</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputAdultsNumber" type="number" name="adultsNumber" min="1"
                                   value="1"/>
                            <label for="inputAdultsNumber">Колькасць дарослых</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputChildrenNumber" type="number" min="0"
                                   th:field="*{childrenNumber}"/>
                            <label for="inputChildrenNumber">Колькасць дзяцей</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputCheckInDate" type="date" name="checkInDate"
                                   th:min="${currentDate}" th:value="${currentDate}"/>
                            <label for="inputCheckInDate">Дата заезду</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputCheckOutDate" type="date" name="checkOutDate"
                                   th:min="${currentDatePlusDay}" th:value="${currentDatePlusDay}"/>
                            <label for="inputCheckOutDate">Дата выезду</label>
                        </div>
                    </div>
                </div>
                <div class="mt-1 mb-0">
                    <div class="d-grid">
                        <button id="createAccountButton" class="btn btn-primary btn-block">Знайсці</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

<script th:fragmemt="script" src="/js/index.js"></script>