<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="be">

<title th:fragment="title">Booker - браніраванне гатэляў</title>

<th:block th:fragment="content">
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Booker - пошук гатэляў у Беларусі
        </div>
        <div class="card-body container">
            <form action="" method="get" id="searchForm" th:object="${searchForm}">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="form-floating mb-md-0">
                            <select class="form-select" id="selectCity" required th:field="*{city}">
                                <option th:each="cityEntity : ${citiesList}" th:value="${cityEntity.id}"
                                        th:text="${cityEntity.name}" th:disabled="${cityEntity.disabled}"
                                        th:selected="${cityEntity.id == searchForm.city}"/>
                            </select>
                            <label for="selectCity">Горад</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputAdultsCount" type="number" name="adultsCount" min="1"
                                   th:value="${templateType == 'index'} ? 1 : *{adultsCount}"/>
                            <label for="inputAdultsCount">Колькасць дарослых</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputChildrenCount" type="number" min="0"
                                   th:field="*{childrenCount}"/>
                            <label for="inputChildrenCount">Колькасць дзяцей</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputCheckInDate" type="date" name="checkInDate"
                                   th:min="${currentDate}" th:value="${checkInDate}"/>
                            <label for="inputCheckInDate">Дата заезду</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input class="form-control" id="inputCheckOutDate" type="date" name="checkOutDate"
                                   th:min="${currentDatePlusDay}" th:value="${checkOutDate}"/>
                            <label for="inputCheckOutDate">Дата выезду</label>
                        </div>
                    </div>
                </div>
                <div class="mt-1 mb-0">
                    <div class="d-grid">
                        <button id="createAccountButton" class="btn btn-primary btn-block">Знайсці</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card my-4" th:remove="${templateType == 'index'} ? 'all'">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Вынікі пошуку
        </div>
        <div class="card-body container">
            <div class="row">
                <div class="col-md-3" th:each="el : ${roomsList}">
                    <div class="card my-3">
                        <img class="card-img-top" alt="Фота пакоя" th:src="|/uploads/${el.entity.coverPhoto}|">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${el.entity.name}"/>
                            <p class="card-text" th:text="${el.entity.description}"/>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li th:class="|list-group-item card-content-bottom-${el.entity.id}|">
                                <div class="icon-box">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                месцаў — [[${el.entity.guestsLimit}]]
                                (сярод іх дзіцячых — [[${el.entity.guestsLimit - el.entity.adultsLimit}]])
                            </li>
                            <li th:class="|list-group-item card-content-bottom-${el.entity.id}|">
                                <div class="icon-box">
                                    <i class="fa-solid fa-bed"></i>
                                </div>
                                аднамесных ложкаў — [[${el.entity.bedsForOnePersonCount}]],
                                двумесных — [[${el.entity.bedsForTwoPersonsCount}]]
                            </li>
                            <li th:class="|list-group-item card-content-bottom-${el.entity.id}|">
                                <div class="icon-box">
                                    <i class="fa-solid fa-wallet"></i>
                                </div>
                                кошт — [[${el.entity.costPerNight}]] руб. (за ноч),
                                [[${el.entity.isPrepaymentRequired} ? 'патрабуецца перадаплата' : 'без перадаплаты']]
                            </li>
                            <li th:class="|list-group-item card-content-bottom-${el.entity.id}|">
                                <div class="icon-box">
                                    <i class="fa-solid fa-house"></i>
                                </div>
                                нумароў — [[${el.entity.roomsCount}]] шт.
                                (вольных — [[${el.freeRoomsLeft}]])
                            </li>
                            <li class="list-group-item">
                                Гатэль: [[${el.entity.hotel.name}]]
                            </li>
                            <li class="list-group-item">
                                Горад: [[${el.entity.hotel.city.name}]]
                            </li>
                        </ul>

                        <div class="card-body card-buttons-flex">
                            <a class="btn btn-success" href="#" th:onclick="|orderRoom(${el.entity.id})|">
                                Заказаць
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <form action="/orders/add" method="post" id="hiddenForm" th:object="${searchForm}">
            <input id="inputCheckInDateHidden" type="date" name="checkInDate" th:value="${checkInDate}" hidden/>
            <input id="inputCheckOutDateHidden" type="date" name="checkOutDate" th:value="${checkOutDate}" hidden/>
            <input id="inputRoomIdHidden" type="number" name="roomId" hidden/>
        </form>
    </div>
</th:block>

<script th:fragmemt="script" src="/js/index.js"></script>