<!DOCTYPE html>
<html lang="en">
<head th:replace="base::head(~{::title}, ~{})">
    <title>Уваход | Booker - браніраванне гатэляў</title>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="base::topnav"/>
<div id="layoutSidenav">
    <th:block th:replace="base::sidenav"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Уваход</h3></div>
                            <div class="card-body">
                                <form id="loginForm" action="#" method="post" th:object="${userEntity}">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputLogin" type="text" placeholder=" " th:field="*{login}"/>
                                        <label for="inputLogin">Логін</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPassword" type="password" placeholder=" " th:field="*{passwordHash}"/>
                                        <label for="inputPassword">Пароль</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Запомніць мяне</label>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <a id="loginLink" class="btn btn-primary btn-block">Увайсці</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="/register">Няма акаўнта? Стварыце новы</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="base::footer"/>
    </div>
</div>
<th:block th:replace="base::scripts"/>
<th:block th:replace="base::success(${successMessage})"/>
<th:block th:replace="base::error(${errorMessage})"/>
<script src="js/login.js"></script>
</body>
</html>
