<!DOCTYPE html>
<html lang="en">
<head th:replace="base::head(~{::title}, ~{})">
    <title>Booker - браніраванне гатэляў</title>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="base::topnav"/>
<div id="layoutSidenav">
    <th:block th:replace="base::sidenav"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card my-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Выпадковы мем
                    </div>
                    <div class="card-body container">
                        <img th:src="|/assets/memes/${memeNumber}.jpg|" class="d-block mx-auto">
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="base::footer"/>
    </div>
</div>
<th:block th:replace="base::scripts"/>
<th:block th:replace="base::success(${successMessage})"/>
<th:block th:replace="base::error(${errorMessage})"/>
</body>
</html>
