<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="be">

<title th:fragment="title">Палітыка канфідэнцыяльнасці | Booker - браніраванне гатэляў</title>

<th:block th:fragment="content">
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Выпадковы мем
        </div>
        <div class="card-body container">
            <img th:src="|/memes/${memeNumber}.jpg|" class="d-block mx-auto">
        </div>
    </div>
</th:block>

<script th:fragmemt="script"></script>